/Android-MaterialPreference/app/build
/Android-MaterialPreference/*.iml
/Android-MaterialPreference/.gradle
/Android-MaterialPreference/local.properties
/Android-MaterialPreference/.idea/workspace.xml
/Android-MaterialPreference/.idea/libraries
/Android-MaterialPreference/.DS_Store
/Android-MaterialPreference/build
/Android-MaterialPreference/captures
/Android-MaterialPreference/.externalNativeBuild

/MaterialPreference/app/build
/MaterialPreference/*.iml
/MaterialPreference/.gradle
/MaterialPreference/local.properties
/MaterialPreference/.idea/workspace.xml
/MaterialPreference/.idea/libraries
/MaterialPreference/.DS_Store
/MaterialPreference/build
/MaterialPreference/captures
/MaterialPreference/.externalNativeBuild


/StickyRecyclerSettingView/app/build
/StickyRecyclerSettingView/*.iml
/StickyRecyclerSettingView/.gradle
/StickyRecyclerSettingView/local.properties
/StickyRecyclerSettingView/.idea/workspace.xml
/StickyRecyclerSettingView/.idea/libraries
/StickyRecyclerSettingView/.DS_Store
/StickyRecyclerSettingView/build
/StickyRecyclerSettingView/captures
/StickyRecyclerSettingView/.externalNativeBuild
